body{
    background-color: black; /*Bakgrundsfärg*/
}

.wrapper{ /*Klass*/
    display: grid; /*Gridlayout*/
    grid-template-rows: 100px 70px auto 50px; /*4 rader, header är 100 pixlar, nav är 70 pixlar, main är auto vilket anpassar sig till innehållet, footer är 50 pixlar*/
    grid-template-areas: /*Ordning på sidan, toppen är header och botten är footer*/
    "header"
    "nav" 
    "main"
    "footer";
    height: 97vh; /*Höjd blir 97% av dokumentfönstret*/
}

header{
    grid-area: header; /*Gridområde*/
    background-color: green;
}

nav{
    grid-area: nav;
    background-color: white;
}

nav > ul { /*Elementet ul direkt inuti elementet nav*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*Tre kolumner med lika stor bred*/
}

nav li {
    text-align: center; /*Texten blir centrerad*/
    list-style-type: none; /*Punkterna i listan tas bort, ingen stil*/
    font-size: 30px; /*Textstorlek 30 pixlar*/
}

main{
    grid-area: main;
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer{
    grid-area: footer;
    background-color: white;
}

table,td,th{
    height:30px; /*Höjden blir 30 pixlar*/
    width:400px; /*Bredden blir 400 pixlar*/
    font-size: 20px;
    border: 1px solid white; /*En vit kant med tjockleken 1 pixel runt elementen*/
    border-collapse: collapse; /*Linjerna i border går ihop till en enda*/
}

table{
    margin: auto; /*Marginal runt tabelllen anpassas automatiskt, vilket gör att tabellen centreras i sin sektion*/
}

td{
    text-align: right; /*Texten i tabellceller blir högerjusterad*/
}

tr:nth-child(even){ /*Zebrastriping, varje jämn tabellrad får färgen blå*/
    background-color: aquamarine;
}

tr:nth-child(odd){ /*Zebrastriping, varje udda tabellrad får färgen grå*/
    background-color: grey;
}

h1, h2{ /*Gruppselektor*/
    text-align: center;
}

li > a{ 
    color:green;
}

h2 > a{
    color: black;
}

p > img{
    max-width: 100%; /*Max 100% i förhållande till containern*/
    height: 200px; /*Höjden blir 200 pixlar*/
}

a > img{
    max-width: 100%;
    height: 640px;
}

caption{ /*Tabellrubrik*/
    margin: 12px; /*Marginal runt texten 12 pixlar*/
}