body{
    background-color: black; /*Bakgrundsfärg*/
}

.wrapper{
    display: grid; 
    grid-template-rows: 100px 70px auto 50px; /*4 rader*/
    grid-template-areas:
    "header"
    "nav" 
    "main"
    "footer";
    height: 97vh;
}

header{
    grid-area: header;
    background-color: green;
}

nav{
    grid-area: nav;
    background-color: white;
}

nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav li {
    text-align: center;
    list-style-type: none;
    font-size: 30px
}

main{
    grid-area: main;
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer{
    grid-area: footer;
    background-color: white;
}


tr:nth-child(even){ /*Zebrastriping, varje jämn tabellrad får färgen blå*/
    background-color: aquamarine;
}

tr:nth-child(odd){ /*Zebrastriping, varje udda tabellrad får färgen grå*/
    background-color: grey;
}

td{
    text-align: right;
}

h1, h2{
    text-align: center;
}

li a{
    color:green;
}

h2 a{
    color: black;
}

table,td,th{
    height:30px;
    width:400px;
    font-size: 20px;
    border: 1px solid white;
    border-collapse: collapse;
}
table{
    margin: auto;
}

p img{
    max-width: 100%;
    height: 200px;
}

a img{
    max-width: 100%;
    height: 650px
}

caption{
    margin: 12px;
}